/* Define Variables */
@define-color primary-bg #268bd2;   /* Your vibrant blue */
@define-color primary-fg #002b36;   /* Your deep navy text */
@define-color bar-bg     #292b2e;   /* Window background */
@define-color workspace-bg #1a1a1a; /* Workspaces background */
@define-color text-light  #fdf6e3;  /* Default light text */

* {
    font-size: 20px;
    font-family: "JetBrains Mono", "FontAwesome", monospace;
}

/* Waybar Window */
window#waybar {
    background: @bar-bg;
    color: @text-light;
}

#language,
#pulseaudio,
#memory,
#cpu,
#battery,
#backlight,
#tray,
#temperature,
#custom-power,
#keyboard-state,
#mode,
#scratchpad,
#window,
#clock,
#clock.date {
    background-color: @primary-bg;
    color: @primary-fg;
    font-weight: bold;
    border-radius: 8px;
    margin: 4px 2px;
    padding: 0 10px;
}

#workspaces {
    background-color: @workspace-bg;
    border-radius: 8px;
    margin: 4px 2px;
}

#workspaces button {
    color: @text-light;
    padding: 0 5px;
}

#workspaces button.focused {
    color: @primary-fg;
    background-color: @primary-bg;
    border-radius: 8px;
}

#workspaces button:hover {
    background-color: @primary-bg;
    color: @primary-fg;
    border-radius: 8px;
}
